<div class="page">

<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p>Category: <%= @restaurant.category %></p>

<h2>Reviews</h2>
<%= link_to 'Add Review', new_restaurant_review_path(@restaurant), class: 'button-link' %>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <strong>Rating:</strong> <%= review.rating %><br>
      <strong>Content:</strong> <%= review.content %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back to All Restaurants', restaurants_path, class: 'button-link' %>
</div>
