<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

<h1>New Review for <%= @restaurant.name %></h1>

<%= form_with model: [@restaurant, @review] |f| %>
    <%= f.label :rating %>
    <%= f.number_field :rating %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.submit 'Create Review' %>
<% end %>
